<div class="row">
<% if(!loading) { %>
	<div class="column column-75">
		<h1><%- title %></h1>
		<h2>Directions</h2>
		<%= marked(directions) %>
	</div>
	<div class="column column-25">
		<a data-sref="edit">EDIT</a>
		<b>Prep time: </b> <%- prep %>
		<b>Cook time: </b> <%- cook %>
		<h2>Ingredients</h2>
		<%= marked(ingredients) %>
	</div>
<% } else { %>
	Loading...
<% } %>
</div>
