<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Prep time</th>
        <th>Cook time</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="column column-10">
    <button class="button js-previous">previous</button>
  </div>
  <div class="column column-10 column-offset-80">
    <button class="button js-next">next</button>
  </div>
</div>
